html,
body{
   height:1024px;
   width:95%;
   overflow: auto;
   overflow-y: hidden;
   background-position:center;
   background-size: cover;
   margin: auto;
   background-color:black;
}
#restart2{
    font-family: sonic2;
    background-color:black;
    width:150px;
    margin:auto;
    height:15px;
}
#menubuttons{
    margin-top:-100px
}
#mecha2{
    height:30%;
}
#quidebutton{
    font-family: sonic2;
    background-color:black;
    width:200px;
    margin:auto;
    height:15px;
}
#quide{
    display:none;
    color:white;
    text-align:center;
    margin-left: 30%;
    font-family: sonic1;
}
#backquide{
    margin-top:-70px;
    margin-left:-40px;
    color:black;
    background-color: white;
    width:80px;
    font-family: sonic2;
}
#logo{
    text-align: center;
    margin: 0 auto;
    color:white;
    font-family: pixel;
}
#segalogo{
    width:50%;
}
#startbutton1{
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
}
#startbutton{
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
}
#back{
    font-family: sonic2;
    font-size: medium;
}
#fightbegin{
    color:black;
    width:100px;
    margin:auto;
    height:15px;
    background-color:white
}
#fightbegin2{
    color:black;
    width:100px;
    margin:auto;
    height:15px;
    background-color:white
}
#fightbegin3{
    color:black;
    width:100px;
    margin:auto;
    height:15px;
    background-color:white
}
#fightbegin4{
    color:black;
    width:100px;
    margin:auto;
    height:15px;
    background-color:white
}
#fightbegin5{
    color:black;
    width:100px;
    margin:auto;
    height:15px;
    background-color:white
}
#gameover{
    color:white;
    display:none;
    text-align: center;
    margin: auto;
    background-color: black;
    height:100%;
    font-size: xx-large;
    font-family:sonic1;
}
#vector{
    height:500px;
    width:700px;
    margin-top:-150px;
}
#sonic{
    height:400px;
    width:700px;
}
#menu{
    display:none;
    text-align: center;
    margin: 0 auto;
    color:white;
    background-image: url("../img/title-background.png");
    height:1070px;
    width:95%;
    overflow: auto;
    overflow-y: hidden;
    background-position:center;
    background-size: cover;
    margin: auto;
}
#story{
    color:white;
    display: none;
    width:50%;
    margin:auto;
    text-align: center;
    font-family: pixel;
}
#story2{
    color:white;
    display:none;
    width:60%;
    margin:auto;
    text-align: center;
    font-family: text;
    font-family: sonic1;
}
#next{
    display:none;
    text-align:center;
    margin: auto;
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
    color:white;
}
#fight{
    display:none;  
}
#death {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#hero {
  height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:180px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter {
    margin-left:60%;
    font-size: 42px;
    margin-top:-290px;
    color: red;
    background-color: white;
    width:50px;
    height:50px;
    font-family: sonic1;
    text-align:center;
}
#counter2 {
    margin-left:35%;
     margin-top:500px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: sonic1;
    text-align:center;
}
#enemy{
    margin-left: 60%;
    background-image:url("../img/bug.gif");
    height:220px;
    width: 250px;
    margin-top:200px;
}
#start{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}



#next1{
    display:none;
    text-align:center;
    margin: auto;
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
    color:white;
}
#fight2{
    display:none;  
}
#death2 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}
#hero2 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 33%;;
    margin-top:130px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter3 {
    margin-left:65%;
    font-size: 42px;
    margin-top:-300px;
    color: red;
    background-color: white;
    width:100px;
    height:50px;
    font-family: sonic1;
    text-align:center;
}
#counter4 {
    margin-left:35%;
     margin-top:445px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: sonic1;
    text-align:center;
}
#enemy2{
    margin-left: 67%;
     background-image:url("../img/mecha\ sonic2.gif");
     height:220px;
     width: 160px;
     margin-top:177px;
}
#start1{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}



#fight3{
    display:none;
}
#death3 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#hero3 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:140px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter5 {
    margin-left:63%;
    font-size: 42px;
    margin-top:-255px;
    color: red;
    background-color: white;
    width:100px;
    height:50px;
    font-family: sonic1;
    text-align:center;
}
#counter6 {
    margin-left:35%;
     margin-top:21px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: sonic1;
    text-align:center;
}
#enemy3{
     margin-left: 60%;
     background-image:url("../img/Sprite-0001.png");
     height:230px;
     width: 150px;
     margin-top:120px;
}
#story3{
    color:white;
    display:none;
    width:60%;
    margin:auto;
    text-align: center;
    font-family: pixel;
}
#start2{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}
#next2{
    display:none;
    text-align:center;
    margin: auto;
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
    color:white;
}
#enemyc{
    width:300px;
    margin-left:50%;
}

#story4 {
    display:none;
    color: white;
    margin:auto;
    text-align:center;
    font-family: pixel;
}
#fight4{
    display:none;
}
#death4 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#story4{
    display:none;
    font-family: pixel;
}
#hero4 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:140px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter7 {
    margin-left:63%;
    font-size: 42px;
    margin-top:-270px;
    color: red;
    background-color: white;
    width:100px;
    height:50px;
    font-family: sonic1;
    text-align:center;
}
#counter8 {
    margin-left:35%;
     margin-top:520px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: sonic1;
    text-align:center;
}
#enemy4{
     margin-left: 55%;
     background-image:url("../img/metal-sonic.png");
     height:220px;
     width: 300px;
     margin-top:180px;
}
#enemyc2{
    width:300px;
    margin-left:50%;
}
#start3{
    margin-left:45%;
    width:100px;
    margin-top:-150px;

}
#next3{
    display:none;
    text-align:center;
    margin: auto;
    font-family: sonic2;
    background-color:black;
    color:white;
    width:100px;
    margin:auto;
    height:15px;
    margin-top:-100px;
}



#fight5{
    display:none;
}
#death5 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#hero5 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:190px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter9 {
    margin-left:60%;
    font-size: 42px;
    margin-top:-818px;
    color: red;
    background-color: white;
    width:150px;
    height:50px;
    text-align:center;
    font-family: sonic1;
}
#counter10 {
    margin-left:35%;
     margin-top:520px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    text-align:center;
    font-family: sonic1;
}
#enemy5{
     margin-left: 50%;
     background-image:url("../img/deathegg\ \(2\).gif");
     height:600px;
     width: 447px;
     margin-top:160px;
}
#start4{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}
#story5{
    display:none;
    color: white;
    margin:auto;
    text-align:center;
    font-family: pixel;
}
#enemycounter{
    width:500px;
    margin-left:50%;
}
#next4{
    display:none;
    text-align:center;
    margin: auto;
    font-family: sonic2;
    background-color:black;
    width:100px;
    margin:auto;
    height:15px;
    color:white;
    margin-top:-100px;
}
#ending{
    font-family:pixel;
    display:none;
    color:white;
    text-align:center;
    
}
#text{
    font-family:pixel;
}
#music{
    color:white;
    display:none;
    width:60%;
    margin:auto;
    text-align: center;
    font-family: sonic1;
}
#jukebox{
    margin-top:10px;
}
#mission{
    margin-top:50px;
}
@font-face{font-family: sonic1;
    src: url("../fonts/SonicHUD.ttf")}
    @font-face{font-family: sonic2;
        src: url("../fonts/sonic-2-caps.ttf")}
        @font-face{font-family: pixel;
            src: url("../fonts/Pixellari.ttf")}
