html,
body{
    background-image: url("../img/download.png");
   height:1070px;
   width:95%;
   overflow: auto;
   overflow-y: hidden;
   background-position:center;
   background-size: cover;
   margin: auto;
}
#gameover{
    color:white;
    display:none;
    text-align: center;
    margin: auto;
    background-color: black;
    height:100%;
}
#vector{
    height:500px;
    width:700px;
    margin-top:-150px;
}
#sonic{
    height:400px;
    width:700px;
}
#menu{
    text-align: center;
    margin: 0 auto;
    color:white;
}
#story{
    color:white;
    display: none;
    width:50%;
    margin:auto;
    text-align: center;
    font-family: text;
}
#story2{
    color:white;
    display:none;
    width:60%;
    margin:auto;
    text-align: center;
    font-family: text;
}
#next{
    display:none;
    text-align:center;
    margin: auto;
}
#fight{
    display:none;  
}
#death {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#hero {
  height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:180px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter {
    margin-left:60%;
    font-size: 42px;
    margin-top:-300px;
    color: red;
    background-color: white;
    width:50px;
    height:50px;
    font-family: text;
}
#counter2 {
    margin-left:30%;
     margin-top:500px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: text;
}
#enemy{
    margin-left: 60%;
    background-image:url("../img/bug.gif");
    height:220px;
    width: 250px;
    margin-top:200px;
}
#start{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}



#next1{
    display:none;
    text-align:center;
    margin: auto;
}
#fight2{
    display:none;  
}
#death2 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}
#hero2 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 33%;;
    margin-top:180px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter3 {
    margin-left:63%;
    font-size: 42px;
    margin-top:-300px;
    color: red;
    background-color: white;
    width:50px;
    height:50px;
    font-family: text;
}
#counter4 {
    margin-left:35%;
     margin-top:445px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: text;
}
#enemy2{
    margin-left: 55%;
     margin-left: 63%;
     background-image:url("../img/mecha\ sonic2.gif");
     height:220px;
     width: 160px;
     margin-top:180px;
}
#start1{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}



#fight3{
    display:none;
}
#death3 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#hero3 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:160px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter5 {
    margin-left:63%;
    font-size: 42px;
    margin-top:-280px;
    color: red;
    background-color: white;
    width:50px;
    height:50px;
    font-family: text;
}
#counter6 {
    margin-left:35%;
     margin-top:10px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: text;
}
#enemy3{
     margin-left: 60%;
     background-image:url("../img/Sprite-0001.png");
     height:220px;
     width: 150px;
     margin-top:160px;
}
#story3{
    color:white;
    display:none;
    width:60%;
    margin:auto;
    text-align: center;
    font-family: text;
}
#start2{
    margin-left:45%;
    width:100px;
    margin-top:-150px;
}
#next2{
    display:none;
    text-align:center;
    margin: auto;
}

#story4 {
    display:none;
    color: white;
    margin:auto;
    text-align:center;
    font-family: text;
}
#fight4{
    display:none;
}
#death4 {
    width: 350px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
}

#story4{
    display:none;
    font-family: text;
}
#hero4 {
    height: 210px;
    max-width: 600px;
    width: 100%;
    margin-left: 30%;;
    margin-top:180px;
    transition: .3s transform ease;
    background-image: url("../img/gifnoloop-export\ \(2\)ver3.gif");
    background-repeat: no-repeat;
    background-position: 0 0%, center;
    background-size: 600px;
    z-index: 2;
}
#counter7 {
    margin-left:63%;
    font-size: 42px;
    margin-top:-300px;
    color: red;
    background-color: white;
    width:50px;
    height:50px;
    font-family: text;
}
#counter8 {
    margin-left:35%;
     margin-top:520px;
    font-size: 42px;
    color: rgb(236, 236, 236);
    background-color:red;
    height:50px;
    width:50px;
    font-family: text;
}
#enemy4{
     margin-left: 50%;
     background-image:url("../img/Sprite-0003.png");
     height:220px;
     width: 300px;
     margin-top:180px;
}
#start3{
    margin-left:45%;
    width:100px;
    margin-top:-150px;

}
#next3{
    display:none;
    text-align:center;
    margin: auto;
}
@font-face{font-family: text;
    src: url("../fonts/SonicHUD.ttf")}
@media all and (max-width:1400px){
#counter2{margin-top:480px;}
#hero{margin-left:20%;}
#start{text-align:center;}
}
